/* this is just for placeholder of height of the document */
.content {
  min-height: 3000px;
  width: 500px;
  margin: 0 auto;
  background-color: lightgrey;
}

.scroll {
  /* firstly, the scroll arrow is hidden */
  visibility: hidden;
  opacity: 0;

  position: fixed;
  z-index: 50;

  /* style on your own */
  right: 150px;
  bottom: 150px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: grey;
  cursor: pointer;

  /* animation section */
  transition-duration: 200ms;
  transform: translate(0, 25px);
}

.scroll._active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.scroll:hover {
  background-color: aquamarine;
}

/* arrow creating (make it on your own) */
.arrow {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
}

.arrow::before,
.arrow::after {
  content: "";
  background-color: black;
  height: 5px;
  width: 30px;
  position: absolute;
  left: 50%;
  top: 45%;
}

.arrow::before {
  transform: rotate(45deg);
  left: 20px;
}

.arrow::after {
  transform: rotate(-45deg);
  left: 1px;
}