table {
  border: 1px solid grey;

  /* to remove double borders for each cell */
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th,
td {
  padding: 10px;
  border: 1px solid grey;
  min-width: 50px;
}

thead tr {
  background-color: darkblue;
  color: white;
}

thead tr th {
  transition-duration: 200ms;
  cursor: pointer;
}

thead tr th:hover {
  background-color: blue;
}

tr:nth-child(2n+2) {
  background-color: lightgrey;
}